body{
    background-color: aquamarine;
}

label,input{
    font-size: larger;
    font-weight: 500;
    margin:2% 3%;
}
.palin{
    display: inline-block;
    margin-left: 10%;
    margin-top: 10%;
}
.anag{
    display: inline-block;
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}